<div class="page">
  <div class="container">
    
    <div class="right">
     
      <div class="form">
        <label for="name">Name: </label>
        <input type="name" id="name" value="{{name}}">
        <label for="surname">Surname: </label>
        <input type="surname" id="surname" value="{{surname}}">
        <label for="age">Age: </label>
        <input type="age" id="age" value="{{age}}">
        <label for="race">Race: </label>
        <input type="race" id="race" value="{{race}}">
       
        <button (click)="onClick()">Submit</button>
      </div>
    </div>
  </div>
</div>